{% extends "templates/web.html" %}

{% block title %}{{ _("Payment Success") }}{% endblock %}

{%- block page_content -%}
<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator green'>
			{{ _("Success") }}</span>
	</div>
	<p>{{ payment_message or _("You have successfully registered for KLU Freedom Fest 2024!") }}</p>
	<p> Your id is: <strong>{{ frappe.form_dict.docname }}</strong></p>
	<h6>{{ _("Take a screenshot of this QR Code for attendance. ") }}</h6>
	<br />
	{% if not payment_message %}
		<div>
			<div id="qrcode"></div>
		</div>
	{% endif %}
	<br />
	<p>{{ payment_message or _("Regards,") }}</p>
	<p>{{ payment_message or _("Swecha AP") }}</p>
</div>
<style>
{% include "templates/styles/card_style.css" %}
</style>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
	frappe.ready(function() {
		if(!('{{ payment_message }}')){
			var qrcode = new QRCode(document.getElementById("qrcode"), {
				text: '{{ frappe.form_dict.docname }}',
				width: 128,
				height: 128
			});
		}
	})
</script>
{% endblock %}
